html {
    font-size: 12px; /* Base font size is 12px*/
    font-family: Arial, sans-serif; /* default font is now Arial, backup font sans-serif */
    
  }
  
  body {
    background-color: lightyellow;
    border: 5px solid blue;
    color: black;
    font-size: 1em; 
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    padding-bottom:20px;
  }
  
  h1 {
    color: orange;
    text-align: center;
    font-size: 40px;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  .pageTitle {
    font-size: 60px;
  }
  
 